/****** Object:  Table [dbo].[studentMath]    Script Date: 8/1/2021 1:48:51 PM ******/

CREATE TABLE [dbo].[b](
	[school] [nvarchar](50) NOT NULL,
	[sex] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[famsize] [nvarchar](50) NOT NULL,
	[Pstatus] [nvarchar](50) NOT NULL,
	[Medu] [int] NOT NULL,
	[Fedu] [int] NOT NULL,
	[Mjob] [nvarchar](50) NOT NULL,
	[Fjob] [nvarchar](50) NOT NULL,
	[reason] [nvarchar](50) NOT NULL,
	[guardian] [nvarchar](50) NOT NULL,
	[traveltime] [int] NOT NULL,
	[studytime] [int] NOT NULL,
	[failures] [int] NOT NULL,
	[schoolsup] [nvarchar](50) NOT NULL,
	[famsup] [nvarchar](50) NOT NULL,
	[paid] [nvarchar](50) NOT NULL,
	[activities] [nvarchar](50) NOT NULL,
	[nursery] [nvarchar](50) NOT NULL,
	[higher] [nvarchar](50) NOT NULL,
	[internet] [nvarchar](50) NOT NULL,
	[romantic] [nvarchar](50) NOT NULL,
	[famrel] [int] NOT NULL,
	[freetime] [int] NOT NULL,
	[goout] [int] NOT NULL,
	[Dalc] [int] NOT NULL,
	[Walc] [int] NOT NULL,
	[health] [int] NOT NULL,
	[absences] [int] NOT NULL,
	[G1] [int] NOT NULL,
	[G2] [int] NOT NULL,
	[G3] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[studentMath] ([school], [sex], [age], [address], [famsize], [Pstatus], [Medu], [Fedu], [Mjob], [Fjob], [reason], [guardian], [traveltime], [studytime], [failures], [schoolsup], [famsup], [paid], [activities], [nursery], [higher], [internet], [romantic], [famrel], [freetime], [goout], [Dalc], [Walc], [health], [absences], [G1], [G2], [G3]) VALUES (N'GP', N'M', 15, N'U', N'GT3', N'T', 4, 4, N'services', N'other', N'course', N'mother', 1, 1, 0, N'no', N'yes', N'no', N'yes', N'no', N'yes', N'yes', N'no', 5, 3, 3, 1, 1, 5, 4, 10, 13, 14)
INSERT [dbo].[studentMath] ([school], [sex], [age], [address], [famsize], [Pstatus], [Medu], [Fedu], [Mjob], [Fjob], [reason], [guardian], [traveltime], [studytime], [failures], [schoolsup], [famsup], [paid], [activities], [nursery], [higher], [internet], [romantic], [famrel], [freetime], [goout], [Dalc], [Walc], [health], [absences], [G1], [G2], [G3]) VALUES (N'GP', N'F', 15, N'U', N'GT3', N'T', 3, 2, N'services', N'other', N'home', N'mother', 2, 2, 0, N'yes', N'yes', N'yes', N'no', N'yes', N'yes', N'yes', N'no', 4, 3, 5, 1, 1, 2, 26, 7, 6, 6)
INSERT [dbo].[studentMath] ([school], [sex], [age], [address], [famsize], [Pstatus], [Medu], [Fedu], [Mjob], [Fjob], [reason], [guardian], [traveltime], [studytime], [failures], [schoolsup], [famsup], [paid], [activities], [nursery], [higher], [internet], [romantic], [famrel], [freetime], [goout], [Dalc], [Walc], [health], [absences], [G1], [G2], [G3]) VALUES (N'GP', N'M', 15, N'U', N'GT3', N'A', 3, 4, N'services', N'other', N'course', N'mother', 1, 2, 0, N'no', N'yes', N'yes', N'yes', N'yes', N'yes', N'yes', N'no', 5, 4, 4, 1, 1, 1, 0, 16, 18, 18)
GO
